In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)


import numpy as np

import warnings
warnings.filterwarnings('ignore')


import pylab as plt  
import seaborn as sns

%matplotlib inline

In [2]:
sA_ori = pd.read_csv('../DataSets/attacks.csv', encoding ='latin1')
df = sA_ori.copy()
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [4]:
df.shape

(25723, 24)

### Primeras impresiones.

Mirando la INFO del data frame, así a grosso modo, vemos que es un DF bastante sucio, donde casi todas las columnas tienen un data type 'object', incluso cuando la lógica diría que deberían ser números enteros, o decimales o simplemente datos de fecha. 

Por lo tanto es interesante ver un poco qué datos hay metidos en las columnas y empezar a limpiar por ahí. Pero como podemos ver, hay dos columnas con "casi" todos los valores nulos, por echar un ojo, quiero ver qué hay en esas columnas, pero me interesa casi más saber qué datos hay en las filas donde sí hay datos.

Voy a echar un ojo para empezar por algo, pero a modo informativo, no voy a hacer nada con ello por ahora, a no ser que sea fácilmente explicable.

In [5]:
#rows_with_values = df[df[["C1", "C2", "C3"]].notna().any(axis=1)]
rows_with_values = df[df[['Unnamed: 22','Unnamed: 23']].notna().any(axis=1)]
rows_with_values

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,31,"No injury, shark bumped surfboard",N,16h00,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,NaN,"Buttock bitten, tissue removed",N,NaN,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,NaN,Leg bitten by netted shark PROVOKED INCIDENT,N,NaN,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

Sería genial poder leet esos pdf pero al estar cortada la columna no me deja.

In [6]:
pd.set_option('display.max_colwidth', None)

Solo mirando estas tres filas ya vemos que aqui hay mucho dato que limpar, hay mucho dato con errores como el Case Number (algúna letra se ha colado por ahí...) y como tenemos tenemos otras dos colmnas con Case Number.1 y .2, que "parecen ser" copias de la primera... pues seguro que también están bastante sucias. 

En lo referente a las columnas Unnamed: 22 y 23, no hay nada especialmente relevante, quiero decir, que no hay nada que pueda darnos claves del por qué están ahí, quizás observaciones o errores, pero no sabemos por ahora.

Empecemos limpiando un poco todas esas filas sin información.

In [7]:
nulls_by_row = df.isnull().sum(axis=1)
nulls_by_row

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

Al filtrar las filas por número de valores nulos podemos ver que bastantes filas completamente vacias. Teniendo en cuenta que solo hay 24 columnas, sería interesante quitarnos en primera instancia todas aquellas filas que no tengan NADA de información, no tienen sentido.

In [8]:
nulls_by_row.describe().T #quizas podamos quitarnos más filas de las que parecía. Teniendo en cuenta que la media de filas tiene unos 20 valores nulos, más o menos.

count    25723.000000
mean        18.982078
std          8.631545
min          2.000000
25%         23.000000
50%         24.000000
75%         24.000000
max         24.000000
dtype: float64

Quizás sea mejor quitarnos todas las filas que tengan más de 20 valores nulos....

In [9]:
df[df.isnull().sum(axis=1)>20].shape

(19421, 24)

In [10]:
list_of_rows_with_null = list(df[df.isnull().sum(axis=1)>20].index)
list_of_rows_with_null[:10]

[6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311]

In [11]:
df.drop(list_of_rows_with_null, inplace=True)

In [12]:
df.shape

(6302, 24)

Nos hemos quitado casi 20k filas que no nos interesaban pero tenemos 6k más que mirar.

In [13]:
df.columns = df.columns.str.replace(' ', '')

In [14]:
df.isna().sum()

CaseNumber                 1
Date                       0
Year                       2
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Vamos a ver poco a poco aquellas columnas que tienen pocos valores nulos para llenarlos y luego nos metemos con los que tienen muchos valores nulos.

In [15]:
df[df[['CaseNumber']].isna().any(axis=1)]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED INCIDENT,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1905.09.06.R-Curry.pdf,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN

Este es fácil, ya que el case number está en los datos de las columnas CaseNumber.1 y .2. lo cambiamos y seguimos.

In [16]:
df.loc[5488, 'CaseNumber'] = df.loc[5488, 'CaseNumber.1']

In [17]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       2
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Para continuar con los valores nulos es interesante ver que por lo que sabemos, esta base de datos se creó con ciertas columnas que tiene sentido entre ellas, principalmente las relevantes a CaseNumber, Date, Year, Case Number.1 y .2, por lo que podemos limpiar estas columnas y ver qué conseguimos.

In [18]:
df[['CaseNumber','Date','Year','CaseNumber.1','CaseNumber.2']]

      CaseNumber         Date    Year CaseNumber.1 CaseNumber.2
0     2018.06.25  25-Jun-2018  2018.0   2018.06.25   2018.06.25
1     2018.06.18  18-Jun-2018  2018.0   2018.06.18   2018.06.18
2     2018.06.09  09-Jun-2018  2018.0   2018.06.09   2018.06.09
3     2018.06.08  08-Jun-2018  2018.0   2018.06.08   2018.06.08
4     2018.06.04  04-Jun-2018  2018.0   2018.06.04   2018.06.04
...          ...          ...     ...          ...          ...
6297     ND.0005  Before 1903     0.0      ND.0005      ND.0005
6298     ND.0004  Before 1903     0.0      ND.0004      ND.0004
6299     ND.0003    1900-1905     0.0      ND.0003      ND.0003
6300     ND.0002    1883-1889     0.0      ND.0002      ND.0002
6301     ND.0001    1845-1853     0.0      ND.0001      ND.0001

[6302 rows x 5 columns]

Empecemos con las columnas referentes a los CaseNumber. Me interesa saber si son iguales o si por el contrario son distintas.

In [19]:
df['CaseNumber'].equals(df['CaseNumber.1']),df['CaseNumber'].equals(df['CaseNumber.2']),df['CaseNumber.1'].equals(df['CaseNumber.2'])

(False, False, False)

Por lo visto no lo son. Veamos por qué.

In [20]:
df[df['CaseNumber'] != df['CaseNumber.1']].head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,Lacerations to left knee & lower leg,N,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.04.03-StFrancisBay.pdf,2018.04.02,2018.04.03,6269.0,NaN,NaN
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,50,"No injury, shark bit paddleboard",N,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.07.20.a-Geyling.pdf,2017/07.20.a,2017.07.20.a,6186.0,NaN,NaN
144,2017.05.06,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",Snorkeling,Andres Rozada,M,33,FATAL,Y,17h00,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.06-Rozada.pdf,2017.06.06,2017.05.06,6159.0,NaN,NaN
217,2016.09.15,16-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,6086.0,NaN,NaN
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,NaN,"Bruised ribs & tail bone, speargun broken and wetsuit cut",N,09h30 / 10h00,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.01.24.b-Love.pdf,2015.01.24.b,2016.01.24.b,5989.0,NaN,NaN

Mirando la tabla vemos que la relación que existe entre estas columnas es que el CaseNumber es el mismo que el de la última vez que se abre el caso, es decir el CaseNumber.2. Veamos entonces porque las columnas de CaseNumber y CaseNumber.2 no coinciden.

In [21]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
390,2015.07-10,10-Jul-2015,2015.0,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,Danny Miskin,M,38,"No injury, shark bumped & damaged board",N,08h45,"White shark, 7'","KTLA, 7/10/2015",2015.07.10-Miskin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.10-Miskin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.10-Miskin.pdf,2015.07.10,2015.07.10,5913.0,NaN,NaN
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,NaN,No injury,N,NaN,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

Vemos que la incosistencia está en la manera de escribir los datos. Algunos case number se han escrito con '-' y otros con '.', por lo que podemos limpiar un poco los datos de las columnas de CaseNumber,.1y .2, haciendo que la nomenclatura sea la misma para todos los valores, sustituyendo '_' por '.', donde los haya.

In [22]:
df['CaseNumber'] = df.CaseNumber.str.replace('-', '.')

In [23]:
df['CaseNumber.1'] = df['CaseNumber.1'].str.replace('-', '.')
df['CaseNumber.2'] = df['CaseNumber.2'].str.replace('-', '.')

In [24]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,NaN,No injury,N,NaN,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

In [25]:
df.loc[4949, 'CaseNumber'] = df.loc[4949, 'CaseNumber.2'] #me he dado cuenta de que el date es de febrero no enero-

In [26]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

In [27]:
df.loc[5944, 'CaseNumber'] = df.loc[5944, 'CaseNumber.2'] #no influye en nada pero era útil para mi TOC.

In [28]:
df[df['CaseNumber'] != df['CaseNumber.2']]

Empty DataFrame
Columns: [CaseNumber, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal(Y/N), Time, Species, InvestigatororSource, pdf, hrefformula, href, CaseNumber.1, CaseNumber.2, originalorder, Unnamed:22, Unnamed:23]
Index: []

In [29]:
df[df[['Year']].isna().any(axis=1)]  #vamos a quitarnos esos valores nulos del año que son sencillitos tamnbién.

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.01.08.R-KerryDaniel.pdf,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1835.08.19.R-Whitehaven.pdf,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [30]:
df.loc[187, 'Year'] = 2017
df.loc[6079, 'Year'] = 1836

In [48]:
df['Year'].unique()  #alguien ha introducido los datos del año como flotantes, como ejercicio los voy a cambiar a int

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [49]:
df['Year'] = df['Year'].astype(int)

In [50]:
df[['Year']]

      Year
0     2018
1     2018
2     2018
3     2018
4     2018
...    ...
6297     0
6298     0
6299     0
6300     0
6301     0

[6302 rows x 1 columns]

Tambien hemos visto en el unique() que hay años como el 77, 5 o el 0 por lo que sería interesante ver qué problema hay con esos datos.

In [60]:
yearZero = df[['Date', 'Year']][df['Year']==0]

In [63]:
df.loc[6176]

CaseNumber                                                                                             0005.00.00
Date                                                                                                   Ca. 5 A.D.
Year                                                                                                            5
Type                                                                                                   Unprovoked
Country                                                                                                 AUSTRALIA
Area                                                                                              New South Wales
Location                                                                                                    Bondi
Activity                                                                                                      NaN
Name                                                                                                         male
Sex                                                                                                             M
Age                                                                                                           NaN
Injury                                              Aboriginal rock carving depicts man being attacked by a shark
Fatal(Y/N)                                                                                                      N
Time                                                                                                          NaN
Species                                                                                                       NaN
InvestigatororSource                                                                              Waverly Library
pdf                                                                           0005.00.00-AustralianAboriginal.pdf
hrefformula             http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf
href                    http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf
CaseNumber.1                                                                                           0005.00.00
CaseNumber.2                                                                                           0005.00.00
originalorder                                                                                               127.0
Unnamed:22                                                                                                    NaN
Unnamed:23                                                                                                    NaN
Name: 6176, dtype: object

In [31]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       0
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Todavía tenemos muchos datos nulos, pero poco a poco. Vamos a ver la columna Type a ver qué pasa por ahí.

In [32]:
df[df[['Type']].isna().any(axis=1)]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
85,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.09.15.a-Samoa.pdf,2017.09.15.a,2017.09.15.a,6218.0,NaN,NaN
382,2015.07.27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.27-Victoria.pdf,2015.07.27,2015.07.27,5921.0,NaN,NaN
4867,1936.09.11.R,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.09.11-Saigon.pdf,1936.09.11.R,1936.09.11.R,1436.0,NaN,NaN
5705,1890.03.03.R,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.03.03.R-Ceylon.pdf,1890.03.03.R,1890.03.03.R,598.0,NaN,NaN

In [33]:
df['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

En este caso no tenemos información del tipo de ataque, mirando los tipos que hay, no parece haber un criterio, no es que estén catalogados por provocados o no, asi que tenemos dos opciones, o bien lo ponemo unknown, porque no sabemos o nos leemos los pdf a ver si dice algo, pero comno no hay criterio establecido y por lo tanto no tiene mucho valor estadístico, podemos poner unknow directamente.

In [34]:
df[df[['Type']].isna().any(axis=1)].index

Index([85, 382, 4867, 5705], dtype='int64')

In [35]:
unknownIndex = list(df[df[['Type']].isna().any(axis=1)].index)
unknownIndex

[85, 382, 4867, 5705]

In [36]:
df.loc[unknownIndex, 'Type'] = 'Unknown'

In [37]:
df.loc[unknownIndex, 'Type']  # perfect

85      Unknown
382     Unknown
4867    Unknown
5705    Unknown
Name: Type, dtype: object

In [38]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       0
Type                       0
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Trabajando con la base de datos me he dado cuenta de que existe un problema con los links a los pdf de los casos estudiados. No es molesto a la hora de hacer un análisis de datos, pero si es interesante limpiarlo para poder usar algunas funciones distintas.

En principio, las dos columnas deberían tener el mismo dato, que se traduce en root de la web directorio y el nombre del pdf, por lo que podemos hacer una función que nos ayude a unir el root de la web con la columna de pdf que no tiene registros vacios.

In [39]:
df[df['hrefformula'] != df['href']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
50,2018.01.13,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,28,"No injury, shark took his swimfin",N,NaN,"White shark, 3.5 m","B. Myatt, GSAF",2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf,2018.01.13,2018.01.13,6253.0,NaN,NaN
96,2017.08.29,29-Aug-2017,2017.0,Unprovoked,AUSTRALIA,Victoria,Cathedral Rock,Surfing,Marcel Brundler,M,37,"No injury, board bitten",N,10h30,"White shark, 3 m","B. Myatt, GSAF",2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf,2017.08.29,2017.08.29,6207.0,NaN,NaN
131,2017.06.05,2017.06.05,2017.0,Unprovoked,FRENCH POLYNESIA,Marquesas,"Atuona Bay, Hiva Oa Island",Surfing,male,M,NaN,Injuries to hand and wrist,N,NaN,NaN,"Tahiti Infos, 6/6/2017",2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.05-FrenchPolynesia.pdf,2017.06.05,2017.06.05,6172.0,NaN,NaN
133,2017.06.11,11-Jun-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.11-Goff.pdf,2017.06.11,2017.06.11,6170.0,NaN,NaN
141,2017.05.27,27-May-2017,2017.0,Invalid,AUSTRALIA,New South Wales,Evans Head,Fishing,Terry Selwood,M,73,Abrasion to right forearm from pectoral fin of a shark that leapt into his boat,N,NaN,NaN,"B. Myatt, GSAF",2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.27-Selwood.pdf,2017.05.27,2017.05.27,6162.0,NaN,NaN
168,2017.03.19,19-Mar-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,The Farm,Body boarding,Gonzalo Fernandez,M,30,Minor,N,18h30,NaN,"Illawarra Mercury, 1/19/2017",2017.03.19-Fernandez.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.03.19-Fernandez.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.03.19-Fernandez.pdf,2017.03.19,2017.03.19,6135.0,NaN,NaN
234,2016.07.29,29-Jul-2016,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,2016.07.29,2016.07.29,6069.0,NaN,NaN
241,2016.07.23.a,23-Jul-2016,2016.0,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,NaN,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf,2016.07.23.a,2016.07.23.a,6062.0,NaN,NaN
276,2016.05.21.a,21-May-2016,2016.0,Unprovoked,USA,Florida,"Hugenot Beach , Jacksonville, Duval County",Swimming,female,F,11,"Back, arm & hand injured",N,17h46,NaN,"Action News Jax, 5/23/2016",2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,2016.05.21.a,2016.05.21.a,6027.0,NaN,NaN
324,2015.12.21.a,21-Dec-2015,2015.0,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,Márcio de Castro Palma,M,32,Right hand & part of forearm removed,N,NaN,"Tiger shark, 1.5 m","Fox News, 12/22/2015",2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,2015.12.21.a,2015.12.21.a,5979.0,NaN,NaN
332,2015.11.15.a,15-Nov-2015,2015.0,Unprovoked,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Surfing,Allen Engelman,M,28,Lacerations to hand,N,NaN,"Spinner shark, 7'","5WPTV, 11/15/2015",2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,2015.11.15.a,2015.11.15.a,5971.0,NaN,NaN
352,2015.10.05.a,05-Oct-2015,2015.0,Unprovoked,USA,Texas,Galveston,Wading,Gregory Slaughter,M,13,Foot & hands bitten,N,10h00,4' to 5' shark,"Houston Chronicle, 10/5/2015",2015.10.05.a-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05.a-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05-Slaughter.pdf,2015.10.05.a,2015.10.05.a,5951.0,NaN,NaN
401,2015.06.27.a,27-Jun-2015,2015.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Buffels Bay near Knysna,Body Boarding,Caleb Swanepoel,M,19,"Right leg severed, multiple lacerations to left leg",N,14h40,White shark,"NSRI, 6/27/205",2015.06.27.a-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27.a-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27-Swanepoel.pdf,2015.06.27.a,2015.06.27.a,5902.0,NaN,NaN
453,2015.01.24,24-Jan-2015,2015.0,Unprovoked,AUSTRALIA,New South Wales,Flat Rock,Surfing,Hamish Murray,M,NaN,"No injury, surfboard dented",N,NaN,NaN,"Northern Star, 1/26/2015",2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,2015.01.24,2015.01.24,5850.0,NaN,NaN
484,2014.10.19,19-Oct-2014,2014.0,Boating,USA,California,"Leadbetter Beach, Santa Barbara County",Canoeing,Tara Burnley,F,NaN,"No injury to occupant, canoe bitten",N,NaN,NaN,"R. Collier, GSAF",2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,2014.10.19,2014.10.19,5819.0,NaN,NaN
485,2014.10.18,18-Oct-2014,2014.0,Unprovoked,USA,Hawaii,"Maalaea, South Maui",Surfing,Kaleo Roberson,M,NaN,"No injury, surfboard bitten",N,11h15,12' to 14' shark,"Star Advertiser, 10/18/2014",2014.10.18-Roberson.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson,2014.10.18,2014.10.18,5818.0,NaN,NaN
486,2014.10.17,17-Oct-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Avoca Beach,Surfing,Kirra-Belle Olsson,F,13,"Lacerations to left calf & ankle, puncture wounds to left foot",N,06h30,1 m shark,"Sydney Morning Herald, 10/17/2014","2014.10.17-Olsson, pdf","http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf",http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.14-Bandy.pdf,2014.10.17,2014.10.17,5817.0,NaN,NaN
493,2014.10.03.b,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Ryan Howell,M,NaN,"No injury to occupant, shark/s holded kayak",N,14h00,"White shark, 18' to 20'","R. Collier, GSAF",2014.10.03.b-Kayaks2.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.b-Kayaks2.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,2014.10.03.b,2014.10.03.b,5810.0,NaN,NaN
494,2014.10.03.a,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Raul Armenta,M,NaN,"No injury to occupant, shark/s holded kayak",N,11h30,White shark,"R. Collier, GSAF",2014.10.03.a-Kayaks1.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.a-Kayaks1.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,2014.10.03.a,2014.10.03.a,5809.0,NaN,NaN
515,2014.08.12,12-Aug-2014,2014.0,Unprovoked,USA,Florida,"3 to 4 miles west of Indian Pass, Gulf County",Standing,Kyle Hayes,M,NaN,Puncture wounds and lacerations to left thigh and knee,N,11h10,"Bull shark, 8'","K. Hayes / Brewton Standard, 8/19/2014",2014.08.15-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.15-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.12-Hayes.pdf,2014.08.12,2014.08.12,5788.0,NaN,NaN
527,2014.07.22,22-Jul-2014,2014.0,Unprovoked,REUNION,Saint-Leu,NaN,Surfing,Vincent Rintz,M,51,Lacerations to right wrist & calf,N,15h00,1.8 metre shark,"BFM-tv, 7/22/2014",2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,2014.07.22,2014.07.22,5776.0,NaN,NaN
545,2014.06.09.a,09-Jun-2014,2014.0,Unprovoked,AUSTRALIA,South Australia,"Parsons Beach, Fleurieu Peninsula",Body boarding,Scott Berry,M,39,Minor injury to torso,N,09h45,"Bronze whaler shark, 1.5m","The Australian, 6/9/2014",2014.06.09.a-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09.a-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09-Berry.pdf,2014.06.09.a,2014.06.09.a,5758.0,NaN,NaN
569,2014.04.03,03-Apr-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Tathra,Swimming,Christine Armstrong,F,63,FATAL,Y,08h20,3 m to 4 m white shark,"B. Myatt, GSAF",2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,2014.04.03,2014.04.03,5734.0,NaN,NaN
583,2014.02.07.b,07-Feb-2014,2014.0,Provoked,TRINIDAD & TOBAGO,Trinidad,NaN,Fishing,Simon Torres,M,NaN,Possibly a PROVOKED INCIDENT,N,NaN,NaN,"Trinidad Guardian, 2/11/2014",2014.02.07.b-Torres.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07.b-Torres.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,2014.02.07.b,2014.02.07.b,5720.0,NaN,NaN
584,2014.02.07,07-Feb-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Porpoise Bay,Surfing,Darren Mills,M,28,Lacerations to leg,N,20h30,7-gill shark?,"New Zealand Herald, 2/7/2014",2014.02.07-PorpoiseBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07-PorpoiseBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,2014.02.07,2014.02.07,5719.0,NaN,NaN
585,2014.01.26,26-Jan-2014,2014.0,Provoked,AUSTRALIA,New South Wales,Umina Beach,Fishing,Richard O'Connor,M,NaN,Lacerations to ring and pinky fingers of his left hand by hooked shark PROVOKED INCIDENT,N,NaN,1m shark,"Daily Telegraph, 1/29/2014",2014.01.26-O'Connor.pf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.26-O'Connor.pf,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,2014.01.26,2014.01.26,5718.0,NaN,NaN
586,2014.01.25,25-Jan-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Garden Bay near Cosy Nook,Spearfishing,James Grant,M,24,Minor injury to left lower leg & heel,N,NaN,7-gill shark,"Stuff.co.nz,1/27/2014",2014.01.25-Grant,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.25-Grant,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,2014.01.25,2014.01.25,5717.0,NaN,NaN
587,2014.01.04,04-Jan-2014,2014.0,Sea Disaster,JAPAN,Okinawa Prefecture,Off Miyako Island,Sea disaster,Rianto,M,31,5 cm bite to left foot,N,NaN,NaN,"Focus Taiwan, 1/7/2014",2014.01.04-Rianto.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf,pdf_directory2014.01.04-Riano.pdf,2014.01.04,2014.01.04,5716.0,NaN,NaN
588,2014.00.00.b,2014,2014.0,Unprovoked,USA,Hawaii,NaN,Free diving / Photographing pilot whales,male,M,NaN,"""Minor laceration to shoulder""",N,NaN,Oceanic whitetip shark,You Tube,2014.00.00.b-OceanicWhitetip.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.00.00.b-OceanicWhitetip.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.00.00.b-OceanicWhitetip.pdf,2014.00.00.b,2014.00.00.b,5715.0,NaN,NaN
590,2013.12.25,25-Dec-2013,2013.0,Unprovoked,NEW CALEDONIA,North Province,"Lindéralique, Hienghène",Snorkeling,Loïc Merlet,M,37,Leg bitten,N,11h00,Reported to involve a bull shark,"Les Novelles Caledonie, 12/26/2014",2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,2013.12.25,2013.12.25,5713.0,NaN,NaN
600,2013.11.22,22-Nov-2013,2013.0,Unprovoked,USA,Oregon,"Gleneden Beach, Lincoln County",Surfing,Andrew Gardiner,M,25,"No injury, board bitten",N,10h30,"White shark, 10 '",R. Collier,2013.11.22-Gardiner.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner,2013.11.22,2013.11.22,5703.0,NaN,NaN
601,2013.11.12,12-Nov-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,"Trigg Beach, Perth",Surfing,Shaun Daly,M,NaN,"No injury, board bumped by shark",N,15h00,Reported to involve a white shark,"West Australian, 11/13/2013",2013.11.12-Daly.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly,2013.11.12,2013.11.12,5702.0,NaN,NaN
602,2013.11.10,10-Nov-2013,2013.0,Provoked,BAHAMAS,NaN,Off Cape Eleuthera,Shark fishing,male,M,77,Injuries to arm & leg by hooked shark PROVOKED INCIDENT,N,11h00,NaN,"Jamaica Observer, 11/11/2013",2013.11.10-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas,2013.11.10,2013.11.10,5701.0,NaN,NaN
603,2013.11.07.b,07-Nov-2013,2013.0,Unprovoked,USA,New Jersey,"Bay Head, Ocean County",Body boarding,Quinn Gates,M,16,"No injury, swim fin bitten",N,Afternoon,NaN,"S. Nagiewicz, SRI; Star Ledger, 11/9/2013",2013.11.07.b-Gates.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates,2013.11.07.b,2013.11.07.b,5700.0,NaN,NaN
604,2013.11.07.a,07-Nov-2013,2013.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Sandor Melian,M,NaN,Foot bitten,N,NaN,NaN,"Space Coast Daily, 11/11/2013",2013.11.07.a-Melian.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian,2013.11.07.a,2013.11.07.a,5699.0,NaN,NaN
605,2013.10.31,31-Oct-2013,2013.0,Unprovoked,USA,Hawaii,"Kanaha Beach, Maui",Kiteboarding,Christian Brandon,M,46,Severe bite to right calf & anklel,N,15h19,Tiger shark,"Maui TV, 10/31/2013",2013.10.31-ChristianBrandon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon,2013.10.31,2013.10.31,5698.0,NaN,NaN
606,2013.10.28,28-Oct-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,Turquoise Bay,Snorkeling,Glenda Simmons,F,60,Lacerations to right arm,N,Afternoon,"Blacktip reef shark, 1m","AAP, 10/28/2013",2013.10.28-Simmons.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons,2013.10.28,2013.10.28,5697.0,NaN,NaN
607,2013.10.26.b,26-Oct-2013,2013.0,Unprovoked,REUNION,dÉtang-Salé,Ravine Mula,Body boarding,Gicquel Tanguy,M,24,Right leg severed,N,16h30,Thought to involve a bull shark,"Global Post, 10/26/2013",2013.10.26.b-Tanguy.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy,2013.10.26.b,2013.10.26.b,5696.0,NaN,NaN
671,2013.05.27.b,27-May-2013,2013.0,Unprovoked,USA,Hawaii,"Halewia, Oahu",Diving,Tali Ena,M,32,Lacerations to right hand,N,NaN,Galapagos shark,"A. Brenneka, Shark Attack Survivors",2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.b-Ena.pdf,2013.05.27.b,2013.05.27.b,5632.0,NaN,NaN
672,2013.05.27.a,27-May-2013,2013.0,Unprovoked,USA,Florida,"Ormond Beach, Volusia County",Swimming,Kyle Kirkpatrick,M,11,Right foot bitten,N,Afternoon,NaN,"Fox News, 5/28/2013",2013.05.27.a-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.a-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27-Kirkpatrick.pdf,2013.05.27.a,2013.05.27.a,5631.0,NaN,NaN
1046,2010.02.01,01-Feb-2010,2010.0,Provoked,NEW ZEALAND,South Island,Oreti Beach,Boogie Boarding,Lydia Ward,F,14,Stepped on shark PROVOKED INCIDENT,N,18h30,1.5 m shark,"R.D. Weeks, GSAF; K. Ritchie, ABC News, 2/1/2010",12.26,http://sharkattackfile.net/spreadsheets/pdf_directory/12.26,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.02.01-Ward.pdf,2010.02.01,2010.02.01,5257.0,NaN,NaN
1441,2006.08.22.b,22-Aug-2006,2006.0,Invalid,BRAZIL,Pernambuco,Pina,NaN,Tatiano Silva de Melo,M,17,Shark bites may have been post mortem,NaN,NaN,Shark involvement prior to death was not confirmed,JC Oline 8/24/2006,2006.08.22.b-Melo.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Melo.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22-IsaulCoba.pdf,2006.08.22.b,2006.08.22.b,4862.0,NaN,NaN
1442,2006.08.22.a,22-Aug-2006,2006.0,Invalid,BELIZE,Ambergris Caye,Near Ramon's Village,Spearfishing,Isaul Coba,M,34,Shark involvement prior to death not confirmed,NaN,NaN,Shark involvement prior to death was not confirmed,C. Johansson,2006.08.22.a-Coba.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.a-Coba.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Brazil-incomplete.pdf,2006.08.22.a,2006.08.22.a,4861.0,NaN,NaN
2702,1989.00.00.a,1989,1989.0,Unprovoked,USA,Virginia,"Coral Gardens Reef, 6 miles SSE of Chicoteague Inlet",Spearfishing using scuba & trailing a string of bleeding fish,male,M,NaN,"No injury, shark grabbed his fish and chased him to the boat",N,NaN,NaN,J. Musick,1989.00.00.a-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.a-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00-Virginia-spearfisherman.pdf,1989.00.00.a,1989.00.00.a,3601.0,NaN,NaN
3244,1975.01.19,19-Jan-1975,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,17,"FATAL, body not recovered",Y,NaN,NaN,"J. West; Adelaide Advertiser, 1/20/1975; P. Kemp, GSAF",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf,1975.01.19,1975.01.19,3059.0,NaN,NaN
3245,1975.00.00.b,1975,1975.0,Unprovoked,BERMUDA,NaN,NaN,Spearfishing,Geeteh Toussaint,M,25,Laceration to right ankle,N,NaN,8' blue shark,"E. Pace, FSAF",1975.00.00.b-Toussaint.pdf,#VALUE!,http://sharkattackfile.net/spreadsheets/pdf_directory/1975.00.00.b-Toussaint.pdf,1975.00.00.b,1975.00.00.b,3058.0,NaN,NaN

In [40]:
root = 'http://sharkattackfile.net/spreadsheets/pdf_directory/'
df['hrefformula'] = df.apply(lambda row: root + row['pdf'], axis=1)
df['href'] = df.apply(lambda row: root + row['pdf'], axis=1)

In [42]:
df.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN