In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)


import numpy as np

import warnings
warnings.filterwarnings('ignore')


import pylab as plt  
import seaborn as sns

%matplotlib inline

In [2]:
sA_ori = pd.read_csv('../DataSets/attacks.csv', encoding ='latin1')
df = sA_ori.copy()
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [4]:
df.shape

(25723, 24)

### Primeras impresiones.

Mirando la INFO del data frame, así a grosso modo, vemos que es un DF bastante sucio, donde casi todas las columnas tienen un data type 'object', incluso cuando la lógica diría que deberían ser números enteros, o decimales o simplemente datos de fecha. 

Por lo tanto es interesante ver un poco qué datos hay metidos en las columnas y empezar a limpiar por ahí. Pero como podemos ver, hay dos columnas con "casi" todos los valores nulos, por echar un ojo, quiero ver qué hay en esas columnas, pero me interesa casi más saber qué datos hay en las filas donde sí hay datos.

Voy a echar un ojo para empezar por algo, pero a modo informativo, no voy a hacer nada con ello por ahora, a no ser que sea fácilmente explicable.

In [5]:
rows_with_values = df[df[['Unnamed: 22','Unnamed: 23']].notna().any(axis=1)]
rows_with_values

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,31,"No injury, shark bumped surfboard",N,16h00,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,NaN,"Buttock bitten, tissue removed",N,NaN,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,NaN,Leg bitten by netted shark PROVOKED INCIDENT,N,NaN,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

Sería genial poder leet esos pdf pero al estar cortada la columna no me deja.

In [6]:
pd.set_option('display.max_colwidth', None)

Solo mirando estas tres filas ya vemos que aqui hay mucho dato que limpar, hay mucho dato con errores como el Case Number (algúna letra se ha colado por ahí...) y como tenemos otras dos columnas con Case Number.1 y .2, que "parecen ser" copias de la primera... pues seguro que también están bastante sucias. 

En lo referente a las columnas Unnamed: 22 y 23, no hay nada especialmente relevante, quiero decir, que no hay nada que pueda darnos claves del por qué están ahí, quizás observaciones o errores, pero no sabemos por ahora.

Empecemos limpiando un poco todas esas filas sin información.

In [7]:
nulls_by_row = df.isnull().sum(axis=1)
nulls_by_row

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

Al filtrar las filas por número de valores nulos podemos ver que bastantes filas estan completamente vacias. Teniendo en cuenta que solo hay 24 columnas, sería interesante quitarnos en primera instancia todas aquellas filas que no tengan NADA de información, no tienen sentido.

In [8]:
nulls_by_row.describe().T #quizas podamos quitarnos más filas de las que parecía.
#Teniendo en cuenta que la media de filas tiene unos 20 valores nulos, más o menos.

count    25723.000000
mean        18.982078
std          8.631545
min          2.000000
25%         23.000000
50%         24.000000
75%         24.000000
max         24.000000
dtype: float64

Quizás sea mejor quitarnos todas las filas que tengan más de 20 valores nulos....

In [9]:
df[df.isnull().sum(axis=1)>20].shape

(19421, 24)

In [10]:
list_of_rows_with_null = list(df[df.isnull().sum(axis=1)>20].index)
list_of_rows_with_null[:10]

[6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311]

In [11]:
df.drop(list_of_rows_with_null, inplace=True)

In [12]:
df.shape

(6302, 24)

Nos hemos quitado casi 20k filas que no nos interesaban pero tenemos 6k más que mirar.

In [13]:
df.columns = df.columns.str.replace(' ', '')

In [14]:
df.isna().sum()

CaseNumber                 1
Date                       0
Year                       2
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Si triangulamos las columnas con más valores nulos, con las filas que tengan esas columnas vacías también podemos quitarnos unas cuantas filas inutiles.

Vamos a ver poco a poco aquellas columnas que tienen pocos valores nulos para llenarlos y luego nos metemos con los que tienen muchos valores nulos.

In [15]:
df[df[['CaseNumber']].isna().any(axis=1)]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED INCIDENT,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1905.09.06.R-Curry.pdf,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN

Este es fácil, ya que el case number está en los datos de las columnas CaseNumber.1 y .2. lo cambiamos y seguimos.

In [16]:
df.loc[5488, 'CaseNumber'] = df.loc[5488, 'CaseNumber.1']

In [17]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       2
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Para continuar con los valores nulos es interesante ver que por lo que sabemos, esta base de datos se creó con ciertas columnas que tiene sentido entre ellas, principalmente las relevantes a CaseNumber, Date, Year, Case Number.1 y .2, por lo que podemos limpiar estas columnas y ver qué conseguimos.

In [18]:
df[['CaseNumber','Date','Year','CaseNumber.1','CaseNumber.2']]

      CaseNumber         Date    Year CaseNumber.1 CaseNumber.2
0     2018.06.25  25-Jun-2018  2018.0   2018.06.25   2018.06.25
1     2018.06.18  18-Jun-2018  2018.0   2018.06.18   2018.06.18
2     2018.06.09  09-Jun-2018  2018.0   2018.06.09   2018.06.09
3     2018.06.08  08-Jun-2018  2018.0   2018.06.08   2018.06.08
4     2018.06.04  04-Jun-2018  2018.0   2018.06.04   2018.06.04
...          ...          ...     ...          ...          ...
6297     ND.0005  Before 1903     0.0      ND.0005      ND.0005
6298     ND.0004  Before 1903     0.0      ND.0004      ND.0004
6299     ND.0003    1900-1905     0.0      ND.0003      ND.0003
6300     ND.0002    1883-1889     0.0      ND.0002      ND.0002
6301     ND.0001    1845-1853     0.0      ND.0001      ND.0001

[6302 rows x 5 columns]

Empecemos con las columnas referentes a los CaseNumber. Me interesa saber si son iguales o si por el contrario son distintas.

In [19]:
df['CaseNumber'].equals(df['CaseNumber.1']),df['CaseNumber'].equals(df['CaseNumber.2']),df['CaseNumber.1'].equals(df['CaseNumber.2'])

(False, False, False)

Por lo visto no lo son. Veamos por qué.

In [20]:
df[df['CaseNumber'] != df['CaseNumber.1']].head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,Lacerations to left knee & lower leg,N,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.04.03-StFrancisBay.pdf,2018.04.02,2018.04.03,6269.0,NaN,NaN
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,50,"No injury, shark bit paddleboard",N,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.07.20.a-Geyling.pdf,2017/07.20.a,2017.07.20.a,6186.0,NaN,NaN
144,2017.05.06,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",Snorkeling,Andres Rozada,M,33,FATAL,Y,17h00,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.06-Rozada.pdf,2017.06.06,2017.05.06,6159.0,NaN,NaN
217,2016.09.15,16-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,6086.0,NaN,NaN
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,NaN,"Bruised ribs & tail bone, speargun broken and wetsuit cut",N,09h30 / 10h00,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.01.24.b-Love.pdf,2015.01.24.b,2016.01.24.b,5989.0,NaN,NaN

Mirando la tabla vemos que la relación que existe entre estas columnas es que el CaseNumber es el mismo que el de la última vez que se abre el caso, es decir el CaseNumber.2. Veamos entonces porque las columnas de CaseNumber y CaseNumber.2 no coinciden.

In [21]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
390,2015.07-10,10-Jul-2015,2015.0,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,Danny Miskin,M,38,"No injury, shark bumped & damaged board",N,08h45,"White shark, 7'","KTLA, 7/10/2015",2015.07.10-Miskin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.10-Miskin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.10-Miskin.pdf,2015.07.10,2015.07.10,5913.0,NaN,NaN
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,NaN,No injury,N,NaN,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

Vemos que la incosistencia está en la manera de escribir los datos. Algunos case number se han escrito con '-' y otros con '.', por lo que podemos limpiar un poco los datos de las columnas de CaseNumber,.1y .2, haciendo que la nomenclatura sea la misma para todos los valores, sustituyendo '_' por '.', donde los haya.

In [22]:
df['CaseNumber'] = df.CaseNumber.str.replace('-', '.')

In [23]:
df['CaseNumber.1'] = df['CaseNumber.1'].str.replace('-', '.')
df['CaseNumber.2'] = df['CaseNumber.2'].str.replace('-', '.')

In [24]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,NaN,No injury,N,NaN,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

In [25]:
df.loc[4949, 'CaseNumber'] = df.loc[4949, 'CaseNumber.2'] #me he dado cuenta de que el date es de febrero no enero-

In [26]:
df[df['CaseNumber'] != df['CaseNumber.2']]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
5944,1864.05,May-1864,1864.0,Unprovoked,MAURITIUS,300 miles east of Mauritius,NaN,Fell overboard,male from the whaler Albatross,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.05.00.Mauritius.pdf,1864.05.00,1864.05.00,359.0,NaN,NaN

In [27]:
df.loc[5944, 'CaseNumber'] = df.loc[5944, 'CaseNumber.2'] #no influye en nada pero era útil para mi TOC.

In [28]:
df[df['CaseNumber'] != df['CaseNumber.2']]

Empty DataFrame
Columns: [CaseNumber, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal(Y/N), Time, Species, InvestigatororSource, pdf, hrefformula, href, CaseNumber.1, CaseNumber.2, originalorder, Unnamed:22, Unnamed:23]
Index: []

In [29]:
df[df[['Year']].isna().any(axis=1)]  #vamos a quitarnos esos valores nulos del año que son sencillitos tamnbién.

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.01.08.R-KerryDaniel.pdf,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1835.08.19.R-Whitehaven.pdf,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [30]:
df.loc[187, 'Year'] = 2017
df.loc[6079, 'Year'] = 1836

In [31]:
df['Year'].unique()  #alguien ha introducido los datos del año como flotantes, como ejercicio los voy a cambiar a int

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [32]:
df['Year'] = df['Year'].astype(int)

In [33]:
df[['Year']]

      Year
0     2018
1     2018
2     2018
3     2018
4     2018
...    ...
6297     0
6298     0
6299     0
6300     0
6301     0

[6302 rows x 1 columns]

Tambien hemos visto en el unique() que hay años como el 77, 5 o el 0 por lo que sería interesante ver qué problema hay con esos datos.

In [34]:
yearZero = df[['Date', 'Year']][df['Year']<100]

In [35]:
yearZero[yearZero['Year'] == 0].value_counts()

Date                  Year
No date               0       6
No date, Before 1963  0       5
Before 1958           0       4
Before 1906           0       4
1960s                 0       3
                             ..
1920 -1923            0       1
Before 1963           0       1
Before 1996           0       1
Before 2003           0       1
"Before the war"      0       1
Name: count, Length: 87, dtype: int64

In [36]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       0
Type                       4
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Todavía tenemos muchos datos nulos, pero poco a poco. Vamos a ver la columna Type a ver qué pasa por ahí.

In [37]:
df[df[['Type']].isna().any(axis=1)]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
85,2017.09.15.a,15-Sep-2017,2017,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.09.15.a-Samoa.pdf,2017.09.15.a,2017.09.15.a,6218.0,NaN,NaN
382,2015.07.27,27-Jul-2015,2015,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.07.27-Victoria.pdf,2015.07.27,2015.07.27,5921.0,NaN,NaN
4867,1936.09.11.R,Reported 11-Sep-1936,1936,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.09.11-Saigon.pdf,1936.09.11.R,1936.09.11.R,1436.0,NaN,NaN
5705,1890.03.03.R,Reported 03-Mar-1890,1890,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.03.03.R-Ceylon.pdf,1890.03.03.R,1890.03.03.R,598.0,NaN,NaN

In [38]:
df['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

En este caso no tenemos información del tipo de ataque, mirando los tipos que hay, no parece haber un criterio, no es que estén catalogados por provocados o no, asi que tenemos dos opciones, o bien lo ponemo unknown, porque no sabemos o nos leemos los pdf a ver si dice algo, pero comno no hay criterio establecido y por lo tanto no tiene mucho valor estadístico, podemos poner unknow directamente.

In [39]:
df[df[['Type']].isna().any(axis=1)].index

Index([85, 382, 4867, 5705], dtype='int64')

In [40]:
unknownIndex = list(df[df[['Type']].isna().any(axis=1)].index)
unknownIndex

[85, 382, 4867, 5705]

In [41]:
df.loc[unknownIndex, 'Type'] = 'Unknown'

In [42]:
df.loc[unknownIndex, 'Type']  # perfect

85      Unknown
382     Unknown
4867    Unknown
5705    Unknown
Name: Type, dtype: object

In [43]:
df.isna().sum()

CaseNumber                 0
Date                       0
Year                       0
Type                       0
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                1
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

Trabajando con la base de datos me he dado cuenta de que existe un problema con los links a los pdf de los casos estudiados. No es molesto a la hora de hacer un análisis de datos, pero si es interesante limpiarlo para poder usar algunas funciones distintas.

En principio, las dos columnas deberían tener el mismo dato, que se traduce en root de la web directorio y el nombre del pdf, por lo que podemos hacer una función que nos ayude a unir el root de la web con la columna de pdf que no tiene registros vacios.

In [44]:
df[df['hrefformula'] != df['href']].head() #algunas de los valores introducidos son erroneos como podemos ver.

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
50,2018.01.13,13-Jan-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,28,"No injury, shark took his swimfin",N,NaN,"White shark, 3.5 m","B. Myatt, GSAF",2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf,2018.01.13,2018.01.13,6253.0,NaN,NaN
96,2017.08.29,29-Aug-2017,2017,Unprovoked,AUSTRALIA,Victoria,Cathedral Rock,Surfing,Marcel Brundler,M,37,"No injury, board bitten",N,10h30,"White shark, 3 m","B. Myatt, GSAF",2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf,2017.08.29,2017.08.29,6207.0,NaN,NaN
131,2017.06.05,2017.06.05,2017,Unprovoked,FRENCH POLYNESIA,Marquesas,"Atuona Bay, Hiva Oa Island",Surfing,male,M,NaN,Injuries to hand and wrist,N,NaN,NaN,"Tahiti Infos, 6/6/2017",2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.05-FrenchPolynesia.pdf,2017.06.05,2017.06.05,6172.0,NaN,NaN
133,2017.06.11,11-Jun-2017,2017,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.06.11-Goff.pdf,2017.06.11,2017.06.11,6170.0,NaN,NaN
141,2017.05.27,27-May-2017,2017,Invalid,AUSTRALIA,New South Wales,Evans Head,Fishing,Terry Selwood,M,73,Abrasion to right forearm from pectoral fin of a shark that leapt into his boat,N,NaN,NaN,"B. Myatt, GSAF",2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.05.27-Selwood.pdf,2017.05.27,2017.05.27,6162.0,NaN,NaN

In [45]:
root = 'http://sharkattackfile.net/spreadsheets/pdf_directory/'
df['hrefformula'] = df.apply(lambda row: root + row['pdf'], axis=1)
df['href'] = df.apply(lambda row: root + row['pdf'], axis=1)

In [46]:
df.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [47]:
df_null = df.isna().sum()
df_null

CaseNumber                 0
Date                       0
Year                       0
Type                       0
Country                   50
Area                     455
Location                 540
Activity                 544
Name                     210
Sex                      565
Age                     2831
Injury                    28
Fatal(Y/N)               539
Time                    3354
Species                 2838
InvestigatororSource      17
pdf                        0
hrefformula                0
href                       0
CaseNumber.1               0
CaseNumber.2               0
originalorder              0
Unnamed:22              6301
Unnamed:23              6300
dtype: int64

In [48]:
df['Time'].value_counts()

Time
Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: count, Length: 366, dtype: int64

Esta es una columan interesante, desde el punto de vista del análisis, quizás no sea tan necesaria la exactitud con la hora a la que se cometió el ataque si no el momento del día. Con esto quiero decir sea mas útil generlizar y proponer, mañana, tarde y noche (morning, afternoon, evening and night, por hacerlo inglés) que luego a la hora de analizar parace más útil.

In [49]:
df['Time'] = df['Time'].str.replace('h', '.')
df['Time']

0               18.00
1       14.00  -15.00
2               07.45
3                 NaN
4                 NaN
            ...
6297              NaN
6298              NaN
6299              NaN
6300              NaN
6301              NaN
Name: Time, Length: 6302, dtype: object

In [50]:
df.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18.00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14.00 -15.00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07.45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [51]:
def timeTable(x):
    
    timelst = ['morning','afternoon','evening','night']

    try:
        if x in timelst:
            return x

        elif '-' in x:

            y = x.split('-')
            z = []
            for i in y:
                z.append(float(i))

            z2 = np.mean(z)

            if z2 >= 5.00 and z2 <= 11.59:

                return 'morning'

            elif z2 >= 12.00 and z2 <= 17.59:
                return 'afternoon'

            elif z2 >= 18.00 and z2 <= 20.59:
                return 'evening'

            elif z2 >= 21.00 and z2 <= 4.59:
                return 'night'

        elif '.' in x:
            x = float(x)
            if x >= 5.00 and x <= 11.59:

                return 'morning'

            elif x >= 12.00 and x <= 17.59:
                return 'afternoon'

            elif x >= 18.00 and x <= 20.59:
                return 'evening'

            elif x >= 21.00 and x <= 4.59:
                return 'night'
    except:
        return x

In [52]:
df.Time = df.Time.apply(timeTable)
df.Time.value_counts()

Time
afternoon                1302
morning                   767
evening                   208
Nig.t                      62
A.M.                       12
                         ...
Between 06.00 & 07.20       1
<07.30                      1
17.00 Sunset                1
18.30 (Sunset)              1
06.00 -- 07.00              1
Name: count, Length: 68, dtype: int64

In [53]:
lstNight = list(df[df['Time']=='Nig.t'].index)

In [54]:
df.loc[lstNight, 'Time'] = 'night'

In [55]:
df.loc[lstNight, 'Time']

41      night
85      night
459     night
532     night
581     night
        ...
5888    night
5910    night
5981    night
6092    night
6160    night
Name: Time, Length: 62, dtype: object

In [56]:
df[df['Time']=='A.M.'].head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
979,2010.10.20,20-Oct-2010,2010,Unprovoked,EGYPT,South Sinai Peninsula,Sharm el-Sheikh,Snorkeling,Elena Rubanovich.,F,NaN,Multiple lacerations to left leg and foot,N,A.M.,NaN,M. Salem; Y. Sobolev,2010.10.20-Rubanovich.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.10.20-Rubanovich.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.10.20-Rubanovich.pdf,2010.10.20,2010.10.20,5324.0,NaN,NaN
2517,1992.12.28,28-Dec-1992,1992,Unprovoked,USA,Hawaii,"Honomuni, Moloka'i","Standing in waist-deep water, helping his father tend a gill net containing dead fish",Pahu Tanaka,M,10,Right leg bruised & abraded,N,A.M.,"Tiger shark, 2.4 m [8']","J. Borg, p.82",1992.12.28-Tanaka.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1992.12.28-Tanaka.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1992.12.28-Tanaka.pdf,1992.12.28,1992.12.28,3786.0,NaN,NaN
3495,1967.12.17,17-Dec-1967,1967,Unprovoked,AUSTRALIA,Victoria,"Cheviot Beach, Portsea, Port Phillip Bay",Swimming,Prime Minister Harold Holt,M,59,"FATAL, presumed taken by a shark, body not recovered",Y,A.M.,NaN,"H. Edwards, p.137-138",1967.12.17-PrimeMinister.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1967.12.17-PrimeMinister.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1967.12.17-PrimeMinister.pdf,1967.12.17,1967.12.17,2808.0,NaN,NaN
3834,1962.02.15,15-Feb-1962,1962,Unprovoked,AUSTRALIA,Queensland,Between Smiths Rock & Moreton Island,Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it,John Hansen,M,NaN,Middle finger of right hand lacerated,N,A.M.,3.7 m [12'] shark,"Brisbane Courier Mail, 2/16/1962",1962.02.15-Hansen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1962.02.15-Hansen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1962.02.15-Hansen.pdf,1962.02.15,1962.02.15,2469.0,NaN,NaN
4088,1959.07.00.a,Jul-1959,1959,Unprovoked,MEXICO,Quintana Roo,Chinchorro Banks,Wading,Lobster fishermen x 2,M,NaN,"FATAL, legs bitten",Y,A.M.,NaN,C.G. Robles,1959.07.00.a-Lobster-fishermen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1959.07.00.a-Lobster-fishermen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1959.07.00.a-Lobster-fishermen.pdf,1959.07.00.a,1959.07.00.a,2215.0,NaN,NaN

In [57]:
am=list(df[df['Time']=='A.M.'].index)

In [58]:
df.loc[am, 'Time'] = 'morning'

In [59]:
df.loc[am, 'Time']

979     morning
2517    morning
3495    morning
3834    morning
4088    morning
4286    morning
4570    morning
4611    morning
5225    morning
5293    morning
5306    morning
5807    morning
Name: Time, dtype: object

In [73]:
df.Time.value_counts()

Time
afternoon                1302
morning                   779
evening                   220
night                      62
--                          5
                         ...
Between 06.00 & 07.20       1
<07.30                      1
17.00 Sunset                1
Nig.tfall                   1
06.00 -- 07.00              1
Name: count, Length: 66, dtype: int64

In [74]:
pm=list(df[df['Time']=='P.M.'].index)
pm

[]

In [75]:
df.loc[pm, 'Time'] = 'evening'

In [80]:
df.Time.fillna('unknown', inplace=True)

In [81]:
[df.Time.unique()] #esto lo hago para ver qué valores se han quedado fuera de mi maravillosa función.

[array(['evening', 'afternoon', 'morning', 'unknown', '19.00, Dusk',
        'night', 'S.ortly before 12.00', '14.30 / 15.30', 'Midnig.t',
        '09.30 / 10.00', 'Sometime between 06.00 & 08.oo', 'Lunc.time',
        'Before 07.00', '10.00 -- 11.00', '"Just before 11.00"',
        'Between 05.00 and 08.00', '17.00 or 17.40', '>08.00', '--',
        'Just after 12.00', 'S.ortly after midnig.t', '20.45 (Sunset)',
        'S.ortly before 13.00', 'Possibly same incident as 2000.08.21',
        '2 .ours after Opperman', '11.00 / 11.30', '"Nig.t"', '18.30?',
        '30 minutes after 1992.07.08.a', '>06.45', 'Between 06.00 & 07.20',
        '<07.30', '17.00 Sunset', 'Nig.tfall', '18.30 (Sunset)',
        'Prior to 10.37', '>12.00', 'Mid-morning', '16.30 or 18.00',
        '10.00 / 11.00', '"After lunc."', '15.00 or 15.45', '>17.00',
        '19.00 / 20.00', '12.45 / 13.45', 'nig.t', '09.30 / 15.30',
        '08.00 / 09.30', '12.00 to 14.00', 'Late nig.t', '10.30 or 13.30',
        '15.00j', 'Midday.', '10.00 or 14.00', '2 .rs before sunset',
        '18.15 to 21.30', '"s.ortly before dusk"', '>17.30', '>14.30',
        'Between 11.00 & 12.00', 'After 04.00',
        '11.01 -time of s.ip sinking', 'S.ip aban-doned at 03.10',
        'FATAL  (Wire netting installed at local beac.es after t.is incident.)',
        'After midnig.t', 'Before 10.30', '06.00 -- 07.00'], dtype=object)]

In [82]:
df[df.Time.str.contains('Between')]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
1639,2004.09.10,10-Sep-2004,2004,Invalid,USA,Texas,South Padre Island,Surf fishing,male,M,NaN,Minor scratch on calf,NaN,Between 05.00 and 08.00,Shark involvement questionable,M. Shields,2004.09.10-SouthPadreIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2004.09.10-SouthPadreIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2004.09.10-SouthPadreIsland.pdf,2004.09.10,2004.09.10,4664.0,NaN,NaN
2598,1991.06.07.a,07-Jun-1991,1991,Unprovoked,HONG KONG,Port Shelter,"Silverstrand Beach, near Hung Hau",Swimming,Yeung Tam-ho (female),F,65,Abdomen bitten & leg severed FATAL,Y,Between 06.00 & 07.20,"Tiger shark, >3 m [10']","Sunday Mail, 6/9/91, p.28",1991.06.07.a-YeungTam-ho.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1991.06.07.a-YeungTam-ho.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1991.06.07.a-YeungTam-ho.pdf,1991.06.07.a,1991.06.07.a,3705.0,NaN,NaN
4671,1943.07.00.a,Jul-1943,1943,Invalid,MEXICO,Veracruz,"Villa del Mar Beach, Veracruz",Swimming,"Manuel Zamora, a lawyer",M,68,"No injury, a shark made a threat display",NaN,Between 11.00 & 12.00,Invalid,C.G. Robles; SAF Case #1327,1943.07.00.a-Zamora.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1943.07.00.a-Zamora.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1943.07.00.a-Zamora.pdf,1943.07.00.a,1943.07.00.a,1632.0,NaN,NaN

In [83]:
df.loc[[1639,2598,4671], 'Time']='morning'

In [84]:
df[df['Time'].str.contains('--')]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
1193,2008.11.06,06-Nov-2008,2008,Unprovoked,PHILIPPINES,Luzon,"off Paoay, Ilocos Norte Province",Fishing,Joel Bacud,M,39,Torso & righ arm bitten FATAL,Y,10.00 -- 11.00,NaN,"Sun Star, 11/08/2008",2008.11.06-Bacud.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2008.11.06-Bacud.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2008.11.06-Bacud.pdf,2008.11.06,2008.11.06,5110.0,NaN,NaN
1730,2003.10.14,14-Oct-2003,2003,Unprovoked,USA,Florida,Near Patrick Air Force Base Brevard County,Surfing,male,M,19,Foot bitten,N,--,1.2 m [4'] shark,WFTV.com,2003.10.14-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.10.14-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.10.14-male.pdf,2003.10.14,2003.10.14,4573.0,NaN,NaN
1731,2003.10.06,06-Oct-2003,2003,Invalid,USA,Florida,Palm Beach?,Swimming to shore from boat or kayak,male,M,NaN,"Fatal, drowning or scavenging. Two hours later his body, with bite marks, washed ashore.",Y,--,Shark involvement prior to death was not confirmed,"E. Pace, FSAF",2003.10.06-NV-PalmBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.10.06-NV-PalmBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.10.06-NV-PalmBeach.pdf,2003.10.06,2003.10.06,4572.0,NaN,NaN
1790,2003.04.11,11-Apr-2003,2003,Unprovoked,VENEZUELA,Nueva Esparta,"El Yaqu, Isla de Margarita",Surfing,Yann Perras,M,28,"Right foot bitten, left leg severed",N,--,"Mako shark, 3 m [10']","E. Ritter & M. Levine, GSAF",2003.04.11-YannPerras.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.11-YannPerras.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.11-YannPerras.pdf,2003.04.11,2003.04.11,4513.0,NaN,NaN
1797,2003.02.11,11-Feb-2003,2003,Unprovoked,AUSTRALIA,New South Wales,"Coogee Bay, near Sydney",Swimming,Tom Plumridge,M,24,"Puncture wounds on heel, legs and buttocks",N,--,Thought to involve a 2 m [6.75'] grey nurse shark,"T. Peake, GSAF",2003.02.11-Plumridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.02.11-Plumridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.02.11-Plumridge.pdf,2003.02.11,2003.02.11,4506.0,NaN,NaN
1799,2003.01.17,17-Jan-2003,2003,Invalid,SOUTH AFRICA,Western Cape Province,"Near the lagoon at Table View, Cape Peninsula",Unknown,male,M,14,Probable scavenging. The boy disappeared while at the beach on January 1st. His decomposed shark-bitten body washed ashore January 17th,NaN,--,Shark involvement prior to death was not confirmed,IOL.co.za,2003.01.17-scavenging.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.01.17-scavenging.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.01.17-scavenging.pdf,2003.01.17,2003.01.17,4504.0,NaN,NaN
5963,1862.12.22,22-Dec-1862,1862,Unprovoked,NEW ZEALAND,North Island,"Soldier's Point, Brick Bay, Auckland",Swimming,Thomas Cooke,M,28,Right thigh and left foot severely bitten,N,06.00 -- 07.00,NaN,"V.M. Coppleson (1962), p.247",1862.12.22-Cooke.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1862.12.22-Cooke.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1862.12.22-Cooke.pdf,1862.12.22,1862.12.22,340.0,NaN,NaN

In [85]:
df.loc[[1193,5963], 'Time']='morning'

In [86]:
limpiezaTime = list(df[df['Time'].str.contains('--')].index)

In [87]:
df.loc[limpiezaTime, 'Time']='unknown'

In [88]:
df[df['Time'].str.contains('>')]

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,CaseNumber.2,originalorder,Unnamed:22,Unnamed:23
1717,2003.11.27,27-Nov-2003,2003,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Sodwana,Spearfishing,Seldon Jee,M,21,"Presumed FATAL, severed hand recovered",Y,>08.00,"Tiger shark, 4 m [13'] ?","E. Ritter, GSAF",2003.11.27-Jee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.11.27-Jee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2003.11.27-Jee.pdf,2003.11.27,2003.11.27,4586.0,NaN,NaN
2557,1992.03.28,28-Mar-1992,1992,Unprovoked,USA,Hawaii,"Cannons, at Ha'ena on the north shore of Kaua'i Island","Surfing, paddling seawards",Jude Chamberlin,F,36,"Foot bitten, crescent of bitemarks in both sides of board",N,>06.45,Tiger shark,"G. Ambrose, pp.18-23; J. Borg, p.81; L. Taylor (1993), pp.112-113",1992.03.28-Chamberlin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1992.03.28-Chamberlin.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1992.03.28-Chamberlin.pdf,1992.03.28,1992.03.28,3746.0,NaN,NaN
3097,1979.05.03,03-May-1979,1979,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Mbibi,Scuba diving,Alan Edly Symons,M,NaN,"FATAL (presumed), pieces of shark-bitten wetsuit washed ashore but no body was recovered",Y,>12.00,NaN,"W. Pople, G. Charter, B. Davis, NSB",1979.05.03-Symons.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1979.05.03-Symons.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1979.05.03-Symons.pdf,1979.05.03,1979.05.03,3206.0,NaN,NaN
3683,1964.06.02,02-Jun-1964,1964,Invalid,SOUTH AFRICA,KwaZulu-Natal,Port Edward,Swimming,Dawood Pili,M,40,"Skeletonized, except for head & feet. Possibly a drowning / scavenging",NaN,>17.00,Shark involvement prior to death was not confirmed,D. Davies,1964.06.02-Pili.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1964.06.02-Pili.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1964.06.02-Pili.pdf,1964.06.02,1964.06.02,2620.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 American prisoners of war on board bound for slave labor camps was torpedoed by an American submarine,NaN,M,NaN,Most of the men drowned & some were taken by sharks. Only only nine men survived,Y,>17.30,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1944.10.24-ArisanMaru.pdf,1944.10.24,1944.10.24,1664.0,NaN,NaN
4653,1944.02.27,27-Feb-1944,1944,Unprovoked,SOUTH AFRICA,Western Cape Province,False Bay,Treading water,Corporal N.S. LeBlanc,M,NaN,Foot & ankle lacerated,N,>14.30,2.1 m [7'] shark,"L. Green; M. Levine, GSAF",1944.02.27-LeBlanc.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1944.02.27-LeBlanc.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1944.02.27-LeBlanc.pdf,1944.02.27,1944.02.27,1650.0,NaN,NaN

In [89]:
df['Time']=df['Time'].str.replace('>', '')

In [91]:
df.Time = df.Time.apply(timeTable)
df.Time.value_counts()

Time
afternoon                                                                1306
morning                                                                   786
evening                                                                   220
night                                                                      62
Midnig.t                                                                    4
10.30 or 13.30                                                              1
10.00 / 11.00                                                               1
"After lunc."                                                               1
15.00 or 15.45                                                              1
19.00 / 20.00                                                               1
12.45 / 13.45                                                               1
nig.t                                                                       1
09.30 / 15.30                                                               1
08.00 / 09.30                                                               1
12.00 to 14.00                                                              1
Late nig.t                                                                  1
Midday.                                                                     1
15.00j                                                                      1
Mid-morning                                                                 1
10.00 or 14.00                                                              1
2 .rs before sunset                                                         1
18.15 to 21.30                                                              1
"s.ortly before dusk"                                                       1
After 04.00                                                                 1
11.01 -time of s.ip sinking                                                 1
S.ip aban-doned at 03.10                                                    1
FATAL  (Wire netting installed at local beac.es after t.is incident.)       1
After midnig.t                                                              1
16.30 or 18.00                                                              1
18.30 (Sunset)                                                              1
Prior to 10.37                                                              1
Nig.tfall                                                                   1
19.00, Dusk                                                                 1
S.ortly before 12.00                                                        1
14.30 / 15.30                                                               1
09.30 / 10.00                                                               1
Sometime between 06.00 & 08.oo                                              1
Lunc.time                                                                   1
Before 07.00                                                                1
"Just before 11.00"                                                         1
17.00 or 17.40                                                              1
Just after 12.00                                                            1
S.ortly after midnig.t                                                      1
20.45 (Sunset)                                                              1
S.ortly before 13.00                                                        1
Possibly same incident as 2000.08.21                                        1
2 .ours after Opperman                                                      1
11.00 / 11.30                                                               1
"Nig.t"                                                                     1
18.30?                                                                      1
30 minutes after 1992.07.08.a                                               1
<07.30                                                                      1
17.00 Sunset                                                                1
Before 10.30                                                                1
Name: count, dtype: int64